html {
  font-size: 10px;
  font-family: "roboto", sans-serif;
  background-size: cover;
  background-image: linear-gradient(to right, #7B4397, #DC2430 75%);
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  font-size: 1.5rem;
  width: calc(100% / 9);
  height: 100%;
  text-align: center;
  color:black;
  background-color:white;
  transition: background-color 0.1s ease-out;
}

.key-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

kbd {
  display: block;
  font-size: 40px;
  font-family: "roboto slab", "roboto", sans-serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.playing {
  background-color: transparent;
}

.playing kbd, .playing .sound {
  color: white;
}